# Lab Five: Wide and Deep Networks

Team: Miro Ronac, Kirk Watson, Brandon Vincitore

## 1. Preparation

Dataset Source: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset


### 1.1
TODO Define and prepare your class variables. 

TODO Use proper variable representations (int, float, one-hot, etc.).

TODO Use pre-processing methods (as needed) for dimensionality reduction, scaling, etc.

TODO Remove variables that are not needed/useful for the analysis.

TODO Describe the final dataset that is used for classification/regression (include a description of any newly formed variables you created)

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

df = pd.read_csv('diabetes_012_health_indicators_BRFSS2015.csv')
print('Initial size of dataset:', df.shape[0])

#drop instances with NA values if any
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
print('Size of dataset after removing NA values:', df.shape[0])


#categorical data
#Diabetes_012, but its the prediction task
#GenHlth - Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor
#Age - 13-level age category (_AGEG5YR see codebook) 1 = 18-24 9 = 60-64 13 = 80 or older
#Education - Education level (EDUCA see codebook) scale 1-6 1 = Never attended school or only kindergarten 2 = Grades 1 through 8 (Elementary) 3 = Grades 9 through 11 (Some high school) 4 = Grade 12 or GED (High school graduate) 5 = College 1 year to 3 years (Some college or technical school) 6 = College 4 years or more (College graduate)
#Income - Income scale (INCOME2 see codebook) scale 1-8 1 = less than $10,000 5 = less than $35,000 8 = $75,000 or more

#continuous
#BMI
#MentHlth - or large categorical? max 30 days
#PhysHlth - or large categorical? max 30 days

#normalize continuous data
continuous = ['BMI','MentHlth','PhysHlth']
std_scaler = StandardScaler()
df[continuous] = std_scaler.fit_transform(df[continuous])
df.head()

Initial size of dataset: 253680
Size of dataset after removing NA values: 253680

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,1.757936,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,1.998592,1.233999,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,-0.511806,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,-0.429630,-0.486592,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,-0.057858,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,3.617407,2.954590,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,-0.209174,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,-0.429630,-0.486592,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,-0.663122,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,-0.024926,-0.486592,0.0,0.0,11.0,5.0,4.0

all features are relevant and don't need to be removed

all categorical data is already represented as integers, no need to encode

In [9]:
print(df.select_dtypes().columns)

ValueError: at least one of include or exclude must be nonempty

## 2. Modeling

## 3. Exceptional Work