# 1. Dataset Preparation

In [5]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('Diabetes_Dataset/diabetes_012_health_indicators_BRFSS2015.csv')

# Making target feature binary
target_array = np.zeros((len(df),4))
for i in range(len(df)):
    target_array[i,0] = df['Diabetes_012'].values[i]
for i in range(len(target_array)):
    # no diabetes
    if target_array[i,0] == 0:
        target_array[i,1] = 1
    # prediabetes
    if target_array[i,0] == 1:
        target_array[i,2] = 1
    # diabetes
    if target_array[i,0] == 2:
        target_array[i,3] = 1

# Adding new target columns to original dataframe
target_headers = ['NoDiabetes', 'PreDiabetes', 'Diabetes']
for i in range(target_array.shape[1]-1):
    df.insert(i, target_headers[i], target_array[:,1:][:,i], True)
df_target = df.drop('Diabetes_012', axis=1) # removing previous categorical target column
df_target.drop(df_target.tail(252000).index,inplace = True)
    
print(df_target.info())

#show df
pd.set_option('display.max_columns', None)
df_target

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 0 to 1679
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NoDiabetes            1680 non-null   float64
 1   PreDiabetes           1680 non-null   float64
 2   Diabetes              1680 non-null   float64
 3   HighBP                1680 non-null   float64
 4   HighChol              1680 non-null   float64
 5   CholCheck             1680 non-null   float64
 6   BMI                   1680 non-null   float64
 7   Smoker                1680 non-null   float64
 8   Stroke                1680 non-null   float64
 9   HeartDiseaseorAttack  1680 non-null   float64
 10  PhysActivity          1680 non-null   float64
 11  Fruits                1680 non-null   float64
 12  Veggies               1680 non-null   float64
 13  HvyAlcoholConsump     1680 non-null   float64
 14  AnyHealthcare         1680 non-null   float64
 15  NoDocbcCost           1680 non-null   float64
 16  GenHlth               1680 non-null   float64
 17  MentHlth              1680 non-null   float64
 18  PhysHlth              1680 non-null   float64
 19  DiffWalk              1680 non-null   float64
 20  Sex                   1680 non-null   float64
 21  Age                   1680 non-null   float64
 22  Education             1680 non-null   float64
 23  Income                1680 non-null   float64
dtypes: float64(24)
memory usage: 328.1 KB
None

,NoDiabetes,PreDiabetes,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,1.0,0.0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,1.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,1.0,0.0,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,1.0,0.0,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,1.0,0.0,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,1.0,0.0,0.0,1.0,0.0,1.0,20.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,13.0,5.0,4.0
1676,0.0,0.0,1.0,0.0,1.0,1.0,30.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,4.0,0.0,25.0,1.0,0.0,9.0,5.0,3.0
1677,1.0,0.0,0.0,0.0,0.0,1.0,42.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,2.0,15.0,0.0,0.0,0.0,8.0,6.0,8.0
1678,0.0,0.0,1.0,1.0,1.0,1.0,28.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,15.0,22.0,1.0,1.0,11.0,6.0,5.0
1679,0.0,0.0,1.0,1.0,1.0,1.0,30.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,9.0,4.0,6.0

##### We aim to utilize our dataset to predict level of diabetes in a patient, (e.g. no diabetes, prediabetes, diabetes). Each patient was asked 21 questions regarding his/her health, habits, education, and income history. Although we have the same data type (float64) for each of our features, based on the documentation on Kaggle, we do have 4 distinct categorical features: GenHlth, Age, Education, and Income.

##### Each category is described as follows:

###### GenHlth - "General Health"

                            1 = Excellent
                            
                            2 = Very Good
                            
                            3 = Good
                            
                            4 = Fair
                            
                            5 = Poor

###### Age - "13-level age category"

                            1 = 18 - 24 yrs
                            2 = 25 - 29 yrs
                            3 = 30 - 34 yrs
                            4 = 35 - 39 yrs
                            5 = 40 - 44 yrs
                            6 = 45 - 49 yrs
                            7 = 50 - 54 yrs
                            8 = 55 - 59 yrs
                            9 = 60 - 64 yrs
                            10 = 65 - 69 yrs
                            11 = 70 - 74 yrs
                            12 = 75 - 79 yrs
                            13 = 80 yrs or older

###### Education - "Education Level"

                            1 = Never attended school or only kindergarten
                            
                            2 = Grades 1 through 8 (Elementary)
                            
                            3 = Grades 9 through 11 (Some high school)
                            
                            4 = Grade 12 or GED (High school graduate)
                            
                            5 = College 1 year to 3 years (Some college or technical school)
                            
                            6 = College 4 years or more (College graduate)
                            
###### Income - "Income Scale"  

                            1 = less than $10,000
                          
                            2 = less than $15,000, more than $10,000
                            
                            3 = less than $20,000, more than $15,000
                            
                            4 = less than $25,000, more than $20,000
                            
                            5 = less than $35,000, more than $25,000
                            
                            6 = less than $50,000, more than $35,000
                            
                            7 = less than $75,000, more than $75,000
                            
                            8 = more than $75,000

In [55]:
# Check for missing values
df_target.isnull().sum().any()

False

In [69]:
# Encoding categorical features and normalizing numerical variables
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler
# ========================================================
from copy import deepcopy
df_encode = deepcopy(df_target)
# ========================================================
# for every categorical variable, encode as integer
# Keras will use the integer variable to figure out how to one-hot encode    
encoders = dict() # save each encoder in dictionary
categorical_headers = ['GenHlth','Age','Education','Income']

for col in categorical_headers:
        encoders[col] = LabelEncoder() # save the encoder
        df_encode[col] = encoders[col].fit_transform(df_encode[col])
# ========================================================
# scale the numeric, continuous variables
numerical_headers = ["BMI", "MentHlth", "PhysHlth"]

for col in numerical_headers:
    ss = StandardScaler()
    df_encode[col] = ss.fit_transform(df_encode[col].values.reshape(-1,1))
# ========================================================
# making binary variables integers
binary_headers = ['NoDiabetes','PreDiabetes','Diabetes','HighBP','HighChol','CholCheck','Smoker','Stroke','HeartDiseaseorAttack',
                  'PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','DiffWalk','Sex',]
for col in binary_headers:
    df_encode[col] = df_encode[col].astype(int)
df_encode.head()

,NoDiabetes,PreDiabetes,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,1,0,0,1,1,1,1.703564,1,0,0,0,0,1,0,1,0,4,1.727369,0.963016,1,0,8,3,2
1,1,0,0,0,0,0,-0.672844,1,0,0,1,0,0,0,0,1,2,-0.477318,-0.564619,0,0,6,5,0
2,1,0,0,1,1,1,-0.197562,0,0,0,0,1,0,0,1,1,4,3.197160,2.490651,1,0,8,3,7
3,1,0,0,1,0,1,-0.355990,0,0,0,1,1,1,0,1,0,1,-0.477318,-0.564619,0,0,10,2,5
4,1,0,0,1,1,1,-0.831271,0,0,0,1,1,1,0,1,0,1,-0.109870,-0.564619,0,0,10,4,3

In [70]:
# ========================================================
# Define features and target
X = df_encode.drop(target_headers, axis=1)
y = df_encode[target_headers]
# ========================================================
X.info()
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 0 to 1679
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HighBP                1680 non-null   int64
 1   HighChol              1680 non-null   int64
 2   CholCheck             1680 non-null   int64
 3   BMI                   1680 non-null   float64
 4   Smoker                1680 non-null   int64
 5   Stroke                1680 non-null   int64
 6   HeartDiseaseorAttack  1680 non-null   int64
 7   PhysActivity          1680 non-null   int64
 8   Fruits                1680 non-null   int64
 9   Veggies               1680 non-null   int64
 10  HvyAlcoholConsump     1680 non-null   int64
 11  AnyHealthcare         1680 non-null   int64
 12  NoDocbcCost           1680 non-null   int64
 13  GenHlth               1680 non-null   int64
 14  MentHlth              1680 non-null   float64
 15  PhysHlth              1680 non-null   float64
 16  DiffWalk              1680 non-null   int64
 17  Sex                   1680 non-null   int64
 18  Age                   1680 non-null   int64
 19  Education             1680 non-null   int64
 20  Income                1680 non-null   int64
dtypes: float64(3), int64(18)
memory usage: 288.8 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 0 to 1679
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NoDiabetes   1680 non-null   int64
 1   PreDiabetes  1680 non-null   int64
 2   Diabetes     1680 non-null   int64
dtypes: int64(3)
memory usage: 52.5 KB